<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TDAGlassware2</servlet-name>
		<servlet-class>com.tda.glassware.TDAGlassware2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TDAGlassware2</servlet-name>
		<url-pattern>/TDAGlassware2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TDAGlassWL</servlet-name>
		<servlet-class>com.tda.glassware.TDAGlassWLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TDAGlassWL</servlet-name>
		<url-pattern>/TDAGlassWL</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
	    <servlet-name>oauth2callback</servlet-name>
	    <servlet-class>com.tda.glassware.auth.OAuth2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>oauth2callback</servlet-name>
	    <url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>logout</servlet-name>
	    <servlet-class>com.tda.glassware.auth.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>logout</servlet-name>
	    <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<filter>
	    <filter-name>authFilter</filter-name>
	    <filter-class>com.tda.glassware.auth.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>authFilter</filter-name>
	    <url-pattern>*</url-pattern>
	</filter-mapping>
	
	
</web-app>
